body {
    background-color: linen;
    text-align: center;
}

h1 {
    color: white;
    padding: 75px 0 75px 0;
    background: linear-gradient(45deg, coral, orange, red, rgb(73, 9, 9));
    border: solid 10px white;
    border-radius: 50px;
}

img {
    width: 150px;
    padding: 10px;
    background: linear-gradient(225deg, coral, orange, red, #490909);
    border-radius: 20px;
}