* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: #6d6ddb;
}
.container {
    background-color: whitesmoke;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10%;
    margin: auto;
}
.meanContainer {
    
    color: #10022c;
    padding: 10px;
    width: fit-content;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linkContainer {
    color: #10022c;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listHead {
    align-self: flex-start;
}
.list {
    border: 10px dotted #10022c;
}
.subheading {
    background-color: greenyellow ;
    border-radius: 10px;
    border: solid 2px coral;
    font-weight: bolder;
    font-size: larger;
    text-decoration: underline 2px coral;
    text-align: center;
}
a {
    text-decoration: none;
    color: #10022c;
}
a:hover {
    color: red;
}

/*Lesson CSS*/
.c1{
    background-color: #080800;
}
.i1{
    background-color: #ffd900;
    color: #ffffff;
    text-align: center;
}
.grid-container{
    background-color: #080800;
    display: grid;
    height: 200px;
}
.grid-item{
    background-color: #ffd900;
    color: #ffffff;
    text-align: center;
}
.one {
    row-gap: 5px;
}
.two {
    column-gap: 5px;
    grid-template-columns: auto auto auto auto;
}
.three {
    grid-template: 1fr 1fr 1fr / auto auto;
    gap: 5px 10px;
}
.four {
    grid-template: 1fr 1fr 1fr / auto auto;
    gap: 10px;
}