body {
    background-color: aquamarine;
}
.noBold {
    font-weight: normal;
}
.listContainer {
    background-color: tomato;
    border: 5px solid lightcyan;
    border-radius: 10px;
}
.listHead {
    background-color: orange;
    border: 5px solid lightcyan;
    border-radius: 10px;
}
.subheading {
    font-weight: bold;
    font-size: large;
    text-decoration: underline rgb(24, 255, 24);
}
.list {
    color: maroon;
}

.one {
    background-color: #289228;
    flex-shrink: 0;
}

.two {
    background-color: chocolate;
    flex-shrink: 0;
}
.two2 {
    background-color: #c5c208;
    flex-shrink: 1;
}
.three {
    background-color: rgb(197, 8, 172);
    flex-shrink: 2;
}
.item {
    flex-basis: 200px;
}
.container {
    border: solid 1px red;
    display: flex;
    width: 250px;
}
.container2 {
    border: solid 1px red;
    display: flex;
    width: 250px;
}
.container3 {
    border: solid 1px red;
    display: flex;
    width: 250px;
}